body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
h1{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
}
.red-color{
    color: red;
    margin-top: -25px;
    font-family: monospace;
}
.left-border{
    border-left: 4px solid red;
    padding-left: 15px;
    border-radius: 20px;
}
.head-section{
    display: flex;
    margin-bottom: 100px;
}
.side-by-side{
    padding-left: 10%;
    margin-top: 6%;
    width: 50%;
}
.side-by-side img{
    width: 70%;
}
.head-p{
    font-size: 22px;
    margin-bottom: 30px;
    text-align: justify;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 15px 40px;
    color: white;
    font-weight: 800;
    border-radius: 10px;
}


       /*My Plan for 2022*/
.my-plan{
    text-align: center;
    font-size: 50px;
}
.m-v-g{
    display: flex;
}
.m-v-g-item{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    padding-bottom: 30px;
    
}
.m-v-g-item img{
    width: 50%;
}
#mission{
    background-color: rgba(255, 226, 143, 0.3);
    border-radius: 20px;
    margin-left: 10%;
    
}
#vission{
    background-color: rgba(121, 124, 190, 0.3);
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 3%;
}
#goals{
    background-color: rgba(121, 255, 190, 0.3);
    border-radius: 20px;
    margin-right: 10%;
}

/*My Development Career*/

.career-section{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.career-item img{
    width: 50%;
    padding-left: 20%;
}
.develop-banner{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: left;
}

.career-item h1{
    font-size: 50px;
}
.career-item p{
    width: 50%;
    margin-bottom: 5%;
    font-size: 20px;
}

/*About Section*/
.about-text{
    margin-left: 10%;
}
.projeck-work img{
    width: 70%;
}
.about-banner{
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 16%;
}

/*Web Dev Section*/
.dev-head{
    text-align: center;
    font-size: 50px;
}
.web-img img{
    width: 50%;
    margin-left: 40%;
}
.dev-item{
    margin-right: 8%;
}
.dev-item h1{
    font-size: 50px;
}
.dev-item p{
    font-size: 20px;
    width: 70%;
    margin-bottom: 5%;  
}
.web-last-banner{
    background-image: url(shapes/shape-2.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
}

/*footer*/
footer{
    background-color: black;
    width: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}
footer p{
    opacity: 0.5;
}